In [1]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize 
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
ps = PorterStemmer()
stop_words = set(stopwords.words('english'))
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~0123456789'''

In [2]:
df = pd.read_csv('movie_info.csv')

In [3]:
for i in df.index:
    plot = df.loc[i,'Plot']
    tagged_sentence = nltk.tag.pos_tag(plot.split())
    edited_sentence = [word for word,tag in tagged_sentence if tag != 'NNP' and tag != 'NNPS']
    example_sentence = ' '.join(edited_sentence)
    no_punct = ""
    for char in example_sentence:
       if char not in punctuations:
           no_punct = no_punct + char
       else:
            no_punct += ' '
    example_sentence = no_punct
    tagged_sentence = nltk.tag.pos_tag(example_sentence.split())
    edited_sentence = [word for word,tag in tagged_sentence if tag not in ['NNP','NNPS','NNS','NN']]
#     print(len(edited_sentence))
    example_sentence = ' '.join(edited_sentence)
    example_sentence = example_sentence.lower()
    stop_words = set(stopwords.words('english')) 

    word_tokens = word_tokenize(example_sentence) 

    filtered_sentence = [w for w in word_tokens if not w in stop_words]
    filt = [ps.stem(filtered_sentence[i]) for i in range(len(filtered_sentence))]
    df.loc[i,'Plot_reduction'] = ' '.join(filt)

In [4]:
df.to_csv('movie_info.csv',index = False)

In [5]:
df['Plot_reduction']

0        work serv fill stereotyp irish burst insid ass...
1        paint smile young walk past look smile embrac ...
2        long compos two first sit tomb display three s...
3        last consist two first set repres enthusiast h...
4        earliest known classic show trade forc drop fr...
                               ...
34881    begin end centr around australian three serv m...
34882                                          two describ
34883    zafer coastal separ whose also help zafer marr...
34884    centr around young name two separ abl go onto ...
34885    iÌ‡stanbul mani help known write first novel fi...
Name: Plot_reduction, Length: 34886, dtype: object

In [6]:
df1 = pd.read_csv('movie_info.csv')

In [7]:
df1.head(1)

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot,Plot_reduction
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr...",work serv fill stereotyp irish burst insid ass...

In [ ]:
def func():
    thriller = thriller[thriller['Plot_reduction']!= np.nan]
    th_plot = thriller['Plot_reduction']
    
    th_plot = th_plot.append(pd.Series(summa,index = range(len(th_plot),len(th_plot)+len(summa))))
    
    th_plot = th_plot.dropna()
    
    vectorizer = TfidfVectorizer(min_df = 200,stop_words='english',max_df = 0.9,max_features = 500)
    
    bagofwords = vectorizer.fit_transform(th_plot)
    feature_names = vectorizer.get_feature_names()
    dense = bagofwords.todense()
    denselist = dense.tolist()
    df2 = pd.DataFrame(denselist, columns=feature_names)
    rat = df2.iloc[df.shape[0]-len(summa):]
    rat = rat.T
    rat.index.set_names(['words'],inplace = True)
    
    svd = TruncatedSVD(n_components = 1)
    lsa = svd.fit_transform(bagofwords)
    
    diction30 = vectorizer.get_feature_names()
    encoding_matrix = pd.DataFrame(svd.components_,index = ['Topic 1']).T
    encoding_matrix['words'] = diction30
    diction30 = encoding_matrix.sort_values(by=['Topic 1'],ascending = False)
    diction30.index = diction30['words']
    diction30 = diction30.drop(['words'],axis = 1)
    
    
    comp = pd.concat([rat,diction30], axis=1, join='inner').T
    c = cosine_similarity(comp,comp)
    c[len(c[0])-1]